<div class="ui grid middle aligned center aligned">
    <div class="row">
        <div class="ten wide computer sixteen wide tablet sixteen wide mobile column">
<form action="/fale-conosco?Length=8" class="ui large form" data-ajax="true" data-ajax-failure="onFailure" data-ajax-method="POST" data-ajax-success="onSuccess" id="formContact" method="post"><input name="__RequestVerificationToken" type="hidden" value="zMHFcYdmvNmyLWixJs1W0a29ilnhnxoMdZR8hLu5ilfKsNV4lTUqkMEvzojYoaU0AKMy0dVy7CV5KrH1eVjLlMqkf-8roPZ-QP6pojNydf41" />                <div class="ui segment">
                    <div class="ui grid  very relaxed stackable middle aligned grid left aligned">
                        <div class="row one column">
                            <div class="column">

                                <div class="field required">
                                    <label>Nome</label>
                                    <div class="ui left icon input">
                                        <i class="user icon"></i>
                                        <input type="text" maxlength="100" name="Name" placeholder="Nome"
                                               value="" data-validate="name">
                                    </div>
                                </div>
                                <div class="field required">
                                    <label>E-mail</label>
                                    <div class="ui left icon input">
                                        <i class="mail icon"></i>
                                        <input id="email" type="text" maxlength="100" name="Email" placeholder="E-mail"
                                               value="" data-validate="email">
                                    </div>
                                </div>


                                <div class="three fields">
                                    <div class="field required">
                                        <label>Telefone</label>
                                        <div class="ui left icon input">
                                            <i class="phone icon"></i>
                                            <input type="text" name="Phone"
                                                   placeholder="(00) 00000-0000" class="masked mask_phone"
                                                   data-validate="phone">
                                        </div>
                                    </div>
                
              

                                </div>
                                <div class="div two fields">

                                    <div class="field required">
                                        <label>Assunto</label>
                                        <div class="ui left icon input">
                                            <i class="mail icon"></i>
                                            <input type="text" maxlength="100" name="Subject" placeholder="Assunto"
                                                   value="" data-validate="assunto">
                                        </div>
                                    </div>
                                </div>
                                <div class="field required">
                                    <label>Mensagem</label>
                                    <textarea maxlength="6000" name="Message"></textarea>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="column text right">
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                              
                                <button id="submitContact" type="submit"
                                        class="ui animated button large submit primary right floated continuar"
                                        tabindex="0">
                                    <div class="visible content">Enviar</div>
                                    <div class="hidden content">
                                        <i class="send icon"></i>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
</form>        </div>
    </div>
</div>




                    </div>
                </div>
            </div>
        </div>